*{
    margin: 0%;
    padding: 0%;
}

.formaPagamento{
    width: 300px;
    padding: 16px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
th{
    background-color: #ba2d2d!important;
    
}